@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Permanent+Marker&display=swap');
.logo {
  color: aliceblue;
  font-size: 30px;
  font-family: 'Permanent Marker', cursive;
}
